<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>农业模型模拟系统</title>
    <link href="__STATIC__/common/css/typo.css" type="text/css" rel="stylesheet" charset="utf-8" />
</head>
<body>

    <h3>功能列表</h3>
    <ul>
        <ol>
            <a href="{:Url('operators')}"> 1、农业生产经营人员数量和结构</a>
        </ol>
        <ol>
            <a href="{:Url('persondensitya')}"> 2、全国各省份人口密度对比分析（地图直观模式）</a>
        </ol>
        <ol>
            <a href="{:Url('persondensityb')}"> 3、全国各省份人口密度对比分析（直方图对比模式）</a>
        </ol>

        <ol>
            <a href="{:Url('firstpercenta')}"> 4、全国各省份第一产业对比分析（地图直观模式）</a>
        </ol>
        <ol>
            <a href="{:Url('firstpercentb')}"> 5、全国各省份第一产业对比分析（直方图对比模式）</a>
        </ol>
        <ol>
            <a href="{:Url('cottona')}"> 6、全国各省份棉花总产量对比分析（地图直观模式）</a>
        </ol>
        <ol>
            <a href="{:Url('cottonb')}"> 7、全国各省份棉花总产量对比分析（直方图对比模式）</a>
        </ol>
        <ol>
            <a href="{:Url('milka')}"> 8、全国各省份奶类总产量对比分析（地图直观模式）</a>
        </ol>
        <ol>
            <a href="{:Url('milkb')}"> 9、全国各省份奶类总产量对比分析（直方图对比模式）</a>
        </ol>
        <ol>
            <a href="{:Url('fruita')}"> 10、全国各省份水果总产量对比分析（地图直观模式）</a>
        </ol>
        <ol>
            <a href="{:Url('fruitb')}"> 11、全国各省份水果总产量对比分析（直方图对比模式）</a>
        </ol>
        <ol>
            <a href="{:Url('sugara')}"> 12、全国各省份糖料总产量对比分析（地图直观模式）</a>
        </ol>
        <ol>
            <a href="{:Url('sugarb')}"> 13、全国各省份糖料总产量对比分析（直方图对比模式）</a>
        </ol>
        <ol>
            <a href="{:Url('totalproductsa')}"> 14、全国各省份粮食总产量对比分析（地图直观模式）</a>
        </ol>
        <ol>
            <a href="{:Url('totalproductsb')}"> 15、全国各省份粮食总产量对比分析（直方图对比模式）</a>
        </ol>
        <ol>
            <a href="{:Url('excellentProduct')}"> 16、全国各省份著名农产品展示</a>
        </ol>
    </ul>
</body>
</html>