<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <script src="__STATIC__/common/js/echarts2/echarts.js"></script>
    <script src="__STATIC__/common/js/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:500px"></div>
调整至<select id="op_year">
    <option name="op_2017" disabled="disabled">2017年</option>
    <option name="op_2016" disabled="disabled">2016年</option>
    <option name="op_2015" disabled="disabled">2015年</option>
    <option name="op_2014" disabled="disabled">2014年</option>
    <option name="op_2013" disabled="disabled">2013年</option>
    <option name="op_2012" value="2012">2012年</option>
    <option name="op_2011" value="2011">2011年</option>
    <option name="op_2010" value="2010">2010年</option>
</select> <a href="index.html">首页</a>


<!--<a id="downFileA">当前数据下载</a>-->
<form method="post" action="{:Url('')}" enctype='multipart/form-data'>
    <button>当前数据下载</button>
</form>

<span id="informationMessage" style="color:red">当前选择： </span>
<script type="text/javascript">
    function getUrlParms(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)
            return unescape(r[2]);
        return null;
    }

    $(document).ready(function () {
        var yearName= getUrlParms('yearname');
        if(yearName){

        }else{
            yearName= '2010';
        }

        $("#op_year").children("option").each(function(){
            var temp_value = $(this).val();
            if(temp_value == yearName){
                $(this).attr("selected","selected");
            }
        });

        var targetUrl = "<?php echo url(''); ?>";
        $("#op_year").change(function () {
            window.location.href= targetUrl + "?yearname="+ this.value;
        });
    });
</script>
<script type="text/javascript">
    // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });
    // 使用
    require(['echarts', 'echarts/chart/map','echarts/chart/pie','echarts/chart/bar',], function (ch) {
// 基于准备好的dom，初始化echarts图表
            var myChart = ch.init(document.getElementById('main'));
            option = {
                title: {
                    text: '{$title}',
                    subtext: '数据来自国家统计局'
                },
                tooltip: {
                    trigger: 'item'
                },

                dataRange: {
                    orient: 'horizontal',
                    min: 0,
                    max: 6000,
                    text: ['高', '低'],           // 文本，默认为数值文本
                    splitNumber: 0
                },
                toolbox: {
                    show: true,
                    orient: 'vertical',
                    x: 'right',
                    y: 'center',
                    feature: {
                        mark: {show: true},
                        dataView: {show: true, readOnly: false}
                    }
                },

                series: [
                    {
                        name: '{$title}',
                        type: 'map',
                        mapType: 'china',
                        mapLocation: {
                            x: 'left'
                        },
                        selectedMode: 'single',
                        itemStyle: {
                            normal: {label: {show: true}},
                            emphasis: {label: {show: true}}
                        },
                        data: [
                            {$data}
                        ]
                    },
                    {
                        name:'{$title}',
                        type:'pie',
                        roseType : 'area',
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        center: [document.getElementById('main').offsetWidth - 300, 275],
                        radius: [30, 180],
                        data:[
                            {$data}
                        ]
                    }
                ],
                animation: false
            };
            var ecConfig = require('echarts/config');

            myChart.on(ecConfig.EVENT.MAP_SELECTED, function (param) {
                var selected = param.selected;
                var str = '当前选择的省份为： [';
                var mapSeries = option.series[0];

                var name;
                for (var p = 0, len = mapSeries.data.length; p < len; p++) {
                    name = mapSeries.data[p].name;

                    if (selected[name]) {
                        value= mapSeries.data[p].value;
                        str+= name+ "] 数据为：[" + value+ "]";
                        document.getElementById('informationMessage').innerHTML = str;
                    }
                }
            })
// 为echarts对象加载数据
            myChart.setOption(option);
        }
    );</script>
</body>
</html>