<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:500px"></div>
<select>
    <option name="op_2016"><a href="#">2016年</a></option>
    <option name="op_2015">2015年</option>
    <option name="op_2014">2014年</option>
    <option name="op_2013">2013年</option>
    <option name="op_2012">2012年</option>
    <option name="op_2011">2011年</option>
    <option name="op_2010">2010年</option>
</select>
<select>
    <option name="op_overview">总览</option>
    <option name="op_amount">人员数量</option>
</select>
<a href="">当前数据下载</a>
<span id="informationMessage" style="color:red">当前选择： </span>
<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
    // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });

    // 使用
    require(
        [
            'echarts',
            'echarts/chart/pie',
            'echarts/chart/bar',// 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main'));

            option = {
                title : {
                    text: '农业生产经营人员数量和结构',
                    subtext: '单位：万人，百分比',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:[{$serieData}],
                    selected: {
            {$serieDataSelected}
                        //不想显示的都设置成false
                    }
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true,
                            type: ['pie','bar']
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : false,
                series : [
                    {$data}
                ]
            };
            myChart.setOption(option);
            var ecConfig = require('echarts/config');
            myChart.on(ecConfig.EVENT.PIE_SELECTED, function (param){
                var selected = param.selected;
                var serie;
                var str = '当前选择： ';
                for (var idx in selected) {
                    serie = option.series[idx];
                    for (var i = 0, l = serie.data.length; i < l; i++) {
                        if (selected[idx][i]) {
                            str += '【系列' + idx + '】' + serie.name + ' : ' +
                                '【数据' + i + '】' + serie.data[i].name + '('+ serie.data[i].value+ ') ';
                        }
                    }
                }
                document.getElementById('informationMessage').innerHTML = str;
            });
        }
    );
</script>
</body>
</html>