<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:500px"></div>
<select id="op_year">
    <option name="op_2017"  disabled="disabled">2017年</option>
    <option name="op_2016">2016年</option>
    <option name="op_2015"  disabled="disabled">2015年</option>
    <option name="op_2014" disabled="disabled">2014年</option>
    <option name="op_2013" disabled="disabled">2013年</option>
    <option name="op_2012" disabled="disabled">2012年</option>
    <option name="op_2011" disabled="disabled">2011年</option>
    <option name="op_2010" disabled="disabled">2010年</option>
</select>
<select>
    <option name="op_overview">总览</option>
    <option name="op_amount">人员数量</option>
</select>

<!--<a id="downFileA">当前数据下载</a>-->
<form  method="post" action="{:Url('')}" enctype='multipart/form-data'>
    <button>当前数据下载</button>
</form>

<span id="informationMessage" style="color:red">当前选择： </span>
<script type="text/javascript">

    $(document).ready(function(){
        // jQuery.download = function(url, data, method){ // 获得url和data
        //     if( url && data ){
        //         // data 是 string 或者 array/object
        //         data = typeof(data)  == 'string' ? data : jQuery.param(data); // 把参数组装成 form的 input
        //         var inputs = '';
        //         jQuery.each(data.split('&'), function(){
        //             var pair = this.split('=');
        //             inputs+='<input type="hidden" name="'+ pair[0] +'" value="'+ pair[1] +'" />';
        //         }); // request发送请求
        //         jQuery('<form action="'+ url +'" method="'+ (method||'post') +'">'+inputs+'</form>').appendTo('body').submit().remove();
        //     };
        // };
        //
        // $("#downFileA").click(function (){
        //     $.download("{:Url('downFile')}",'','post' );
        // });

    });
    </script>

<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
    // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });

    // 使用
    require(
        [
            'echarts',
            'echarts/chart/pie',
            'echarts/chart/bar',// 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main'));

            option = {
                title : {
                    text: '农业生产经营人员数量和结构',
                    subtext: '单位：万人，百分比',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:[{$serieData}],
                    selected: {
            {$serieDataSelected}
                        //不想显示的都设置成false
                    }
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true,
                            type: ['pie','bar']
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : false,
                series : [
                    {$data}
                ]
            };
            myChart.setOption(option);
            var ecConfig = require('echarts/config');
            myChart.on(ecConfig.EVENT.PIE_SELECTED, function (param){
                var selected = param.selected;
                var serie;
                var str = '当前选择： ';
                for (var idx in selected) {
                    serie = option.series[idx];
                    for (var i = 0, l = serie.data.length; i < l; i++) {
                        if (selected[idx][i]) {
                            str += '【系列' + idx + '】' + serie.name + ' : ' +
                                '【数据' + i + '】' + serie.data[i].name + '('+ serie.data[i].value+ ') ';
                        }
                    }
                }
                document.getElementById('informationMessage').innerHTML = str;
            });
        }
    );
</script>
</body>
</html>