<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="__STATIC__/common/js/echarts2/echarts.js"></script>
    <script src="__STATIC__/common/js/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:500px"></div>
<select id="op_year">
    <option name="op_2017" disabled="disabled">2017年</option>
    <option name="op_2016" disabled="disabled">2016年</option>
    <option name="op_2015" disabled="disabled">2015年</option>
    <option name="op_2014" disabled="disabled">2014年</option>
    <option name="op_2013" disabled="disabled">2013年</option>
    <option name="op_2012">2012年</option>
    <option name="op_2011">2011年</option>
    <option name="op_2010">2010年</option>
</select>
<select>
    <option name="op_overview">总览</option>
    <option name="op_amount">人员数量</option>
</select>

<!--<a id="downFileA">当前数据下载</a>-->
<form method="post" action="{:Url('')}" enctype='multipart/form-data'>
    <button>当前数据下载</button>
</form>

<span id="informationMessage" style="color:red">当前选择： </span>
<script type="text/javascript">

    $(document).ready(function () {

    });
</script>
<script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
    // 使用
    require(['echarts', 'echarts/chart/map'], function (ch) {
// 基于准备好的dom，初始化echarts图表
        var myChart = ch.init(document.getElementById('main'));
        option = {
            title : {
                text: '2011全国GDP（亿元）',
                subtext: '数据来自国家统计局'
            },
            tooltip : {
                trigger: 'item'
            },
            legend: {
                x:'right',
                selectedMode:false,
                data:['北京','上海','广东']
            },
            dataRange: {
                orient: 'horizontal',
                min: 0,
                max: 55000,
                text:['高','低'],           // 文本，默认为数值文本
                splitNumber:0
            },
            toolbox: {
                show : true,
                orient: 'vertical',
                x:'right',
                y:'center',
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false}
                }
            },
            series : [
                {
                    name: '2011全国GDP分布',
                    type: 'map',
                    mapType: 'china',
                    mapLocation: {
                        x: 'left'
                    },
                    selectedMode : 'multiple',
                    itemStyle:{
                        normal:{label:{show:true}},
                        emphasis:{label:{show:true}}
                    },
                    data:[
                        {name:'西藏', value:605.83},
                        {name:'青海', value:1670.44},
                        {name:'宁夏', value:2102.21},
                        {name:'海南', value:2522.66},
                        {name:'甘肃', value:5020.37},
                        {name:'贵州', value:5701.84},
                        {name:'新疆', value:6610.05},
                        {name:'云南', value:8893.12},
                        {name:'重庆', value:10011.37},
                        {name:'吉林', value:10568.83},
                        {name:'山西', value:11237.55},
                        {name:'天津', value:11307.28},
                        {name:'江西', value:11702.82},
                        {name:'广西', value:11720.87},
                        {name:'陕西', value:12512.3},
                        {name:'黑龙江', value:12582},
                        {name:'内蒙古', value:14359.88},
                        {name:'安徽', value:15300.65},
                        {name:'北京', value:16251.93, selected:true},
                        {name:'福建', value:17560.18},
                        {name:'上海', value:19195.69, selected:true},
                        {name:'湖北', value:19632.26},
                        {name:'湖南', value:19669.56},
                        {name:'四川', value:21026.68},
                        {name:'辽宁', value:22226.7},
                        {name:'河北', value:24515.76},
                        {name:'河南', value:26931.03},
                        {name:'浙江', value:32318.85},
                        {name:'山东', value:45361.85},
                        {name:'江苏', value:49110.27},
                        {name:'广东', value:53210.28, selected:true}
                    ]
                },
                {
                    name:'2011全国GDP对比',
                    type:'pie',
                    roseType : 'area',
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    center: [document.getElementById('main').offsetWidth - 250, 225],
                    radius: [30, 120],
                    data:[
                        {name: '北京', value: 16251.93},
                        {name: '上海', value: 19195.69},
                        {name: '广东', value: 53210.28}
                    ]
                }
            ],
            animation: false
        };
                    var ecConfig = require('echarts/config');

                    myChart.on(ecConfig.EVENT.MAP_SELECTED, function (param) {
                        var selected = param.selected;
                        var str = '当前选择： ';
                        for (var p in selected) {
                            if (selected[p]) {
                                str += p + ' ';
//$("#message").html(str);
                                var deliverFeeUrl = "<?php echo url('kuaidi/api/deliverfee'); ?>";
                                deliverFeeUrl += '?provinceName=' + encodeURIComponent(p);
                                $.ajax({
                                    url: deliverFeeUrl,
                                    success: function (result) {
//document.getElementById('message').innerHTML = result;
                                        $("#message").html('ok.' + result);
                                    },
                                    error: function (xhr, textStatus) {
                                        $("#message").html('错误' + xhr.responseText);
                                        console.log(xhr);
                                    },
                                    complete: function (result) {
//$("#message").html('完成'+ result);
                                    }
                                });
                            }
                        }

                    })
// 为echarts对象加载数据
                    myChart.setOption(option);
                }
            );</script>
</body>
</html>